@import "tailwindcss";


.recharts-wrapper:focus,
.recharts-wrapper *:focus {
  outline: none;
}

.recharts-wrapper:focus-visible,
.recharts-wrapper *:focus-visible {
  outline: revert;
}




.swiper {
  padding-bottom: 60px !important;
}

